#new-chat-button {
    border: 1px solid green;
    padding: 15px;
    border-radius: 5px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: #ffe4c4;
    background-color: transparent;
    margin-left: 45px;
    color: green;
}

#create-chat-input::placeholder {
    color: black;
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

#create-chat-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#new-chat-button:hover {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px #739A66;
}

.modal {
    border: 1px solid #FFBD0A !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: #6b6767;
}


#close-create-chat-button:hover {
    opacity: 0.5;
}

#create-chat-input {
    border: 2px solid black;
    padding: 8px;
    outline: none !important;
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

#create-chat-input:focus {
    border: 2px solid bisque;
    outline: none !important;
}

#create-chat-users-list::-webkit-scrollbar {
    width: 8px;
}

#create-chat-users-list::-webkit-scrollbar-track {
    background: #c2bebe;
}

#create-chat-users-list::-webkit-scrollbar-thumb {
    background-color: #4d4c4c;
    border-radius: 6px;
}

#create-chat-button {
    color: black;
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    background-color: transparent;
}

#create-chat-button:hover {
    opacity: 0.6;
}

.user-handle-span {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}