#chat-message-box {
    background-color: #2b2b2b;
    /* border: 1px solid transparent; */
    border-top: 2px solid rgb(41, 37, 35) !important;
    border-radius: 5px;
    color: white !important;
}

#chat-message-box:hover {
    background-color: #353535;

}

#chat-message-box span {
    color: white ;
}

.user-handle-chat-box {
    font-family: "Angkor", serif !important;
    font-weight: 200 !important;
    font-style: normal;
    color: bisque;
}

.user-handle-chat-box:hover {
    cursor: default;
}

#user-handle-chat-box-reply {
    font-size: 11px;
}

#edited-span {
    color: bisque;
}

#deleted-by-username-span {
    font-family: "Angkor", serif !important;
    font-weight: 200 !important;
    display: inline;
}

#deleted-by-span {
    color: #a7555e !important;
}

#deleted-by-username-span {
    color: #a7555e !important;
}

#edit-message-img {
    opacity: 0.3;
}

#delete-message-img {
    opacity: 0.6;
}

#delete-message-img:hover {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 1;
}

#edit-message-img:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

#edit-message-img:hover,
#delete-message-img:hover {
    cursor: pointer;
}

#edit-textarea{
    height: 20px !important;
}

#edit-textarea:focus {
    border: 2px solid bisque;
    outline: none !important;
}

#reply-textarea {
    border: 2px solid bisque;
    outline: none !important;
}

#user-reacted-emoji {
    /* box-shadow: 4px 4px 10px #b88e1d; */
    background-color: #1a1616;
    padding: 1px 2px;
}