
#team-name-box:hover {
opacity: 0.7;
}

#teams-hstack::-webkit-scrollbar {
    height: 7px;
}

#teams-hstack::-webkit-scrollbar-track {
    background: #c2bebe;
}

#teams-hstack::-webkit-scrollbar-thumb {
    background-color: #4d4c4c;
    border-radius: 6px;
}

.team-name-nav.active {
    border: 2px dashed bisque !important;
    border-radius: 10px !important;
}

#leave-team-button {
    background-color: transparent !important;
    color: #B00B1D;
    border: 1px solid #B00B1D;
    opacity: 0.4;
    margin-bottom: 0px !important;
}
#leave-team-button:hover {
    opacity: 1;
}   