.dropdown-item {
  font-family: "Angkor", serif !important;
  font-weight: 400;
  font-style: normal;
}

#upload-photo-modal {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#upload-now-button {
  background: transparent;
  border-radius: 10px;
  border: none;
  color: #6f6f6f;
  font-size: 18px;
  height: 50px;
  outline: none;
  padding: 5px 15px;
  width: 90%;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.1),
    3px 3px 6px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.upload-cancel-buttons {
  background: transparent;
  border-radius: 10px;
  border: none;
  color: #6f6f6f;
  font-size: 18px;
  height: 50px;
  outline: none;
  padding: 5px 15px;
  width: 45%;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.1),
    3px 3px 6px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

#upload-now-button:focus {
  text-shadow: 0 0 10px goldenrod;
  color: goldenrod;
}

#upload-now-button:active {
  box-shadow: none;
  cursor: pointer;
  color: #b88e1d;
}
