body>div {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  margin-right: 3px;
}

:root {
  --fc-border-color: rgb(95, 87, 87);
  --fc-daygrid-event-dot-width: 5px;
}

.demo-app-sidebar {
  width: 200px;
  background-color: transparent;
  border: 3px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  line-height: 1.5;
  background-color: transparent;
  border: 3px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 50px 0px 50px 40px;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  color: bisque;
  background-color: transparent;
}

.demo-app-sidebar-section {
  padding: 30px 10px 30px 10px;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  max-width: 1100px;
  margin: 0 auto;
}

#calendar-main-box {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar-box {
  background-color: transparent;
  border: 3px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 50px 0px 50px 50px;
  color: rgb(116, 108, 37);
}

#weekends-lable {
  font-family: "Angkor", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: bisque;
  margin-left: 5px;
}

#all-events-title {
  font-family: "Angkor", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: bisque;
}

#all-events-title>span {
  font-family: "Angkor", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  color: rgb(128, 15, 15);
}

.fc-scroller::-webkit-scrollbar {
  width: 9px !important;
}

.fc-scroller::-webkit-scrollbar-track {
  background: #c2bebe !important;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background-color: #5f5c5c !important;
  border-radius: 6px !important;
}

.fc-event-main {
  background-color: #a8a190;
  border-color: #010101 !important;
  -webkit-backdrop-filter: blur(8px) !important;
  backdrop-filter: blur(8px) !important;
}

#join-meeting-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 6px 3px 6px;
  background-color: #5f5c5c;
}

#join-meeting-button:hover {
  box-shadow: 2px 2px 9px 9px rgba(255, 255, 255, 0.3) !important;
  border: none;
}